name: PlatformIO CI

on: 
  pull_request:
  push:
    branches: 
      - dev

jobs:
  pio-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Checkout UI
        run: |
          echo "Checkout UI"
          git clone https://github.com/mp-se/victron-receiver-ui victron-receiver-ui 
          cp victron-receiver-ui/dist/assets/style.css.gz html/app.css.gz
          cp victron-receiver-ui/dist/assets/index.js.gz html/app.js.gz

      - name: Setup Python (for PlatformIO)
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Setup PlatformIO
        uses: n-vr/setup-platformio-action@v1.0.1    

      - name: Check PlatformIO
        run: pio --version

      - name: Install Arduino espressif32 platform (Arduino 3.x)
        run: |
          echo "Installing Arduino espressif32 platform (Arduino core 3.x)"
          pio platform install https://github.com/pioarduino/platform-espressif32/releases/download/55.03.36/platform-espressif32.zip
          pio update

      - name: PlatformIO Run
        uses: karniv00l/platformio-run-action@v1
        with:
          environments: "victron-s3-waveshare-tft,victron-s3-lolin-tft,victron-c3-mini,victron-s3-mini"
          jobs: 1
          silent: false
          verbose: true
          disable-auto-clean: false

      - name: PlatformIO Run (2)
        uses: karniv00l/platformio-run-action@v1
        with:
          environments: "victron-lolin-tft"
          jobs: 1
          silent: false
          verbose: true
          disable-auto-clean: false

      - uses: EndBug/add-and-commit@v9
        with:
          add: 'bin html'
          author_name: GitHub Action
          author_email: mp-se@noreply.github.com
          default_author: github_actor
          message: 'GitHub Action Build'
          pathspec_error_handling: ignore

          